
<!-- Blog section -->
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">



                @for (var i = 0; i <= 0; i++)
                {
                    <div class="blog-item">
                        <img src="img/blog/1.jpg" alt="">
                        <h2>5 Exercises for a six pack</h2>
                        <div class="blog-metas">
                            <div class="blog-meta"><img src="~/Content/img/icons/edit.png" alt=""> By Admin</div>
                            <div class="blog-meta"><img src="~/Content/img/icons/layout.png" alt="">in Workout</div>
                            <div class="blog-meta"><img src="~/Content/img/icons/profile.png" alt="">2 comments</div>
                        </div>
                        <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae orci. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus.</p>
                        <div class="site-btn">Read More</div>
                    </div>
                    <div class="blog-item">
                        <img src="~/Content/img/blog/2.jpg" alt="">
                        <h2>Do you want strong arms? Here’s our tips</h2>
                        <div class="blog-metas">
                            <div class="blog-meta"><img src="~/Content/img/icons/edit.png" alt=""> By Admin</div>
                            <div class="blog-meta"><img src="~/Content/img/icons/layout.png" alt="">in Workout</div>
                            <div class="blog-meta"><img src="~/Content/img/icons/profile.png" alt="">2 comments</div>
                        </div>
                        <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae orci. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus.</p>
                        <div class="site-btn">Read More</div>
                    </div>
                    <div class="blog-item">
                        <img src="~/Content/img/blog/3.jpg" alt="">
                        <h2>Fitness Competition for begginers</h2>
                        <div class="blog-metas">
                            <div class="blog-meta"><img src="~/Content/img/icons/edit.png" alt=""> By Admin</div>
                            <div class="blog-meta"><img src="~/Content/img/icons/layout.png" alt="">in Workout</div>
                            <div class="blog-meta"><img src="~/Content/img/icons/profile.png" alt="">2 comments</div>
                        </div>
                        <p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae orci. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus.</p>
                        <div class="site-btn">Read More</div>
                    </div>
                }
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9 sidebar">


                <div class="widget-area">
                    <h2 class="widget-title">Recent Posts</h2>

                    <div class="recent-post-widget">
                        @for (var i = 0; i <= 4; i++)
                        {
                            <div class="rp-item">
                                <img src="~/Content/img/blog/blog-widget/1.jpg" alt="">
                                <div class="rp-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                    <div class="rp-date">February 17, 2019</div>
                                </div>
                            </div>
                            <div class="rp-item">
                                <img src="~/Content/img/blog/blog-widget/2.jpg" alt="">
                                <div class="rp-text">
                                    <p>Consectetur lorem ipsum dolor sit amet.</p>
                                    <div class="rp-date">February 17, 2019</div>
                                </div>
                            </div>
                            <div class="rp-item">
                                <img src="~/Content/img/blog/blog-widget/3.jpg" alt="">
                                <div class="rp-text">
                                    <p>Ipsum dolor sit amet, consectetur. </p>
                                    <div class="rp-date">February 17, 2019</div>
                                </div>
                            </div>}
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- Blog section end -->
