
@{
    ViewBag.Title = "showMeasurementChart";
    Layout = "~/Views/Shared/dashboardHeader.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <h2> Measurement chart</h2>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Full Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Mail")
                                </th>
                                <th>
                                    @Html.DisplayName("Mobile")
                                </th>
                                <th>
                                    @Html.DisplayName("Player Job")
                                </th>
                                <th><i class="fa fa-gear fa-spin" style="font-size:24px"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var item = 0; item <= 10; item++)
                            {
                                <tr class="even gradeC">

                                    <td>
                                        nancy hamed
                                    </td>
                                    <td>
                                        nancyhamed71@gmail.com
                                    </td>
                                    <td>
                                        01113576780
                                    </td>
                                    <td>
                                        tester app
                                    </td>
                                    <td>

                                        <button style="border:none;background:none;color:orangered" class="fa fa-plus" onclick="openForm()"></button>

                                        <div class="form-popup" id="myForm">
                                            <form action="#" class="form-container">
                                                <button style="background-color:none;border:none; " onclick="closeForm()">&#10007;</button>
                                                <label>here's chart view</label>
                                                <button type="submit" class="btn">Add</button>
                                                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!--End Advanced Tables -->
